.container {
    flex-direction: column;
    display: flex;
    min-height: calc(100vh);
    width: 100%;
    }
    
    .cards {
      margin-top: 30px;
      display: grid;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
      gap: 30px;
      justify-items: center;
      text-transform: capitalize;
  
    }




.cards p{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  font-family: 'Secular One', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #101010;
}

.paginate{
  margin: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.paginate button{
  font-family: 'Secular One', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100px; 
  height: 40px;
  border-radius: 5px ;
  border: none;
  color: white;
  background-color: #101010;
  background-image: linear-gradient(rgba(255, 255, 255, 0.052), rgba(0, 0, 0, 0.1)); 
}


.paginate button:hover{
  background: transparent;
  transform: translateY(-2px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), inset 0 -4px 8px rgba(255, 255, 255, 0.128);
}


.paginate span{
  color: white;
  font-family: 'Secular One', sans-serif;
  font-size: 1rem;
  padding: 20px;
  font-weight: bold;

}

@media (max-width: 767px) {

  .paginate{
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .paginate button {
      height: 30px; 
  }
}
  